html
{
    font-family: 'Inter', sans-serif;
}

a
{
  color: #4E4E4E;
  text-decoration: none;
}

body
{
    margin: 0;
}

.sticky-header-container
{
  position: sticky;
  top: 0;
  background-color: white;
}


.authorize__signup-button
{
    width: 132.78px;
    height: 32px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
}

.nav
{
    margin-right: auto;
    order: 0;
    width: max-content;
}
.nav-item
{
    /*
     Смотри какая ситуция. У тебя на всем сайте много ссылок, которые по-сути выглядят одинаково. Правильным было бы создать 1 класс (link) и вынести туда свойства которые характерны для большинства ссылок и использовать этот класс везде где надо.
    Так у тебя будет в разы меньше копипасты.
   А если понадобится прмиенить другой цвет к ссылке, то тут тебе помогут БЭМ модификаторы. Это относится не только к ссылкам, а еще к другим сущностям
    */
    margin-right: 25px;
}

.authorize__login-button, .theme-changer, .theme-changer__button
{
    margin-right: 14px;
    font-weight: bold;
    font-size: 13.3;
}

.theme-changer__button
{
  background-color: white;
  border: none;
}

.theme-changer
{
    margin-left: auto;
    width: max-content;
    margin-right: 10px;
}

.search-bar{
    border: 1px solid #CDCDCD;
    height: 20px;
    width: 80px;
    border-radius: 20px;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    display: flex;
    align-items: center;
  }

  .search-bar__input
  {
    height: 26px;
    width: 56px;
    border: none;
    font-size: 17px;
  }
  .header-logo
  {
    margin-right: 30px;
  }

  .header-bottom .container
  {
      margin-left: auto;
      margin-right: auto;
      width: 1440px;
      display: flex;
      flex-flow: row wrap;
      position: sticky;
      align-items: center;
  }

  .header-bottom
  {
    margin-top: 15px;
    height: 32px;
    align-items: center;
    display: flex;
    border-bottom: 1px solid #CDCDCD;
    border-top: 1px solid #CDCDCD;
  }

  .header-bottom-item, .language-change-item
  {
    font-size: 16px;
  }

  .language-change-item
  {
    font-size: 13.3;
    margin-left: auto;
    font-weight: bold;
    align-items: center;
  }

  .main
  {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding-top: 15;
    justify-content: center;
  }

  .up-note
  {
      margin-left: auto;
      margin-right: auto;
      border: 1px solid #CDCDCD;
      border-left: 4px solid #CDCDCD;
      border-radius: 4px;
      height: 98px;
      width: 1408;
      background-color: #e8f4fc;
  }

.up-note-image
{
    padding-left: 25px;
    padding-top: 25px;
}

.up-note-text
{
    margin-left: 10px;
    padding-top: 20px;
    padding-right: 25px;
}

@media (min-width: 1440px) {

.header
{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
}

.burger-menu
{
  display: none;
}

.main
{
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.header .container
{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding-top: 15;
}

.footer
{
  margin-top: 35px;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
  height: 323.13px;
  width: 1440px;
}
}

@media (min-width: 1093px) and (max-width: 1439px)
{
.header
{
  position: relative;
  width: 100%;
}

.burger-menu
{
  display: none;
}

.header .container
{

    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    position: sticky;
    align-items: center;
    padding-top: 15;
}

.footer
{
  margin-top: 35px;
  margin-bottom: 35px;
  margin-left: 20px;
  margin-right: 20px;
  height: 323.13px;
  width: 100%;
}

}

@media (max-width: 1092px)
{
  .burger-menu
  {
    margin-left: auto;
    margin-right: 23px;
  }
  .header
  {
    position: relative;
    width: 100%;
  }

  .header .container
  {
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      position: sticky;
      align-items: center;
      padding-top: 15;
  }

  .nav, .theme-changer, .search-bar, .authorize
  {
    display: none;
  }

    .main
  {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

  .footer
{
  margin-top: 35px;
  margin-bottom: 35px;
  margin-left: 20px;
  margin-right: 20px;
  height: 323.13px;
  width: 100%;
}
}

.main-block
{
  display: flex;
  margin-top: 25px;
}

.filter-input
{
  margin-left: 35px;
  height: 32px;
  width: 88px;
  border: 1px solid #CDCDCD;
  border-radius: 16px;
  display: flex;
  align-items: center;
}

.filter-input-text
{
  margin-top: 8px;
  height: 24px;
  width: 50px;
  border: none;
  font-size: 13.3;
  color: #757575;
}

.filter-image
{
  margin-left: 3px;
  margin-right: 3px;
}

.left-menu
{
  box-sizing: border-box;
}

.left-menu-selector
{
  margin-left: auto;
  margin-top: 10px;
  list-style-type: none;
  width: 360.28px;
}

.left-menu-selector-item
{
  margin-top: 10px;
  margin-left: 0;
}

.left-menu-selector-main
{
  font-weight: bold;
}

.left-menu-selector li
{
  margin-top: 15px;
}

.right-sidebar
{
  width: 240px;
  margin-left: 20px;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.right-sidebar h2
{
  font-size: 19.2;
  font-weight: normal;
}

.items-container
{
  width: 240px;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #CDCDCD;
}

.items-container a
{
  margin-top: 12.5px;
  margin-bottom: 12.5px;
  margin-left: 15px;
  font-size: 13.3;

}

.footer-block
{
  width: 100%;
  height: 393.13px;
  background-color: #F9F9FB;
  display: flex;
  align-self: flex-end;
}

.footer-upper-block
{
  display: flex;
  justify-content: space-between;
}

.logo-column
{
  display: flex;
  flex-direction: column;
}

.social-icons img
{
  margin-top: 32px;
  margin-right: 16px;
}

.mdn-footer-logo
{
  margin-top: 3px;
  margin-bottom: 10px;
  height: 17px;
  width: 48px;
}

.footer-column1 a, .footer-column2 a, .footer-column3 a, .footer-column4 a
{
  font-size: 13.3;
  margin-top: 5px;
}

.footer-column1 p, .footer-column2 p, .footer-column3 p, .footer-column4 p
{
  font-size: 16;
  margin-top: 0;
  margin-top: 5px;
}

.footer-column1, .footer-column2, .footer-column3, .footer-column4
{
  display: flex;
  flex-direction: column;
}

.footer-middle-block
{
  margin-top: 40px;
  margin-bottom: 38.12px;
  border-top: 1px solid #CDCDCD;
  height: 57px;
  display: flex;
  align-items: end;
}

.footer-middle-block .container
{
  vertical-align: bottom;
  height: 32px;
  display: flex;
  align-items: center;
}

.footer-middle-block .container .mozilla-logo
{
  margin-right: 32px;
}

.footer-middle-block .container a
{
  margin-right: 16px;
  font-size: 11.1;
}

.bottom-footer-block
{
  height: 38.88px;
  display: inline;
}

.bottom-footer-block a, .bottom-footer-block p
{
  font-size: 11.1;
  margin-bottom: 2px;
}