:root {
    --row-gap: 1rem;
}

html {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

a {
    color: #4E4E4E;
    text-decoration: none;
}

button {
    color: #4E4E4E;
}

body {
    margin: 0;
}

.wrapper__sticky-header-container {
    position: sticky;
    top: 0;
}

.sticky-header-container {
    background-color: white;
}

.sticky-header-container__header {
    height: 64px;
    position: relative;
}

.sticky-header-container__breadcrumbs {
    height: 32px;
}

.authorize__signup-button {
    height: 32px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
}

.header__nav-list {
    margin-right: auto;
    width: max-content;
}

.nav {
    order: 0;
}

.nav__item {
    margin-right: 25px;
}

.theme-changer__button {
    background-color: white;
    border: none;
}

.search-bar {
    border: 1px solid #CDCDCD;
    border-radius: 20px;
    padding: 6px;
    display: flex;
    align-items: center;
}

.search-bar__input {
    border: none;
    font-size: 17px;
}

.header__logo {
    margin-right: 30px;
    display: block;
    height: 24px;
    width: 160px;
}

.header {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.header__container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1440px;
    width: 100%;
}

.breadcrumbs {
    justify-content: center;
    align-items: center;
    display: flex;
    border-bottom: 1px solid #CDCDCD;
    border-top: 1px solid #CDCDCD;
}

.breadcrumbs__container {
    display: flex;
    justify-content: space-between;
}

.language-change-item {
    font-size: 13px;
    font-weight: bold;
    align-items: center;
}

.page {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding-top: 15px;
    justify-content: center;
}

.page__up-note {
    margin: 0 auto;
    height: 98px;
}

.up-note {
    border: 1px solid #CDCDCD;
    border-left: 4px solid #CDCDCD;
    border-radius: 4px;
    background-color: #e8f4fc;
}

.up-note__image {
    padding-left: 25px;
    padding-top: 25px;
}

.up-note__text {
    margin-left: 10px;
    padding-top: 20px;
    padding-right: 25px;
}

.page-content__container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: minmax(0,1fr) minmax(0,2.5fr) minmax(0,15rem);
    gap: 3rem;
}

.page__content {
    margin-top: 25px;
}

.filter-input {
    margin-left: 35px;
    height: 32px;
    width: 88px;
    border: 1px solid #CDCDCD;
    border-radius: 16px;
    display: flex;
    align-items: center;
}

.filter-input__text {
    margin-top: 8px;
    height: 24px;
    width: 50px;
    border: none;
    font-size: 13px;
    color: #757575;
}

.filter-image {
    margin-left: 3px;
    margin-right: 3px;
}

.primary-sidebar {
    box-sizing: border-box;
}

.primary-sidebar-selector {
    list-style-type: none;
}

.primary-sidebar-selector-item {
    margin-top: 10px;
    margin-left: 0;
}

.primary-sidebar-selector-main {
    font-weight: bold;
}

.primary-sidebar-selector li { /* Для стилизации по БЭМу нужно использовать только классы, ничего больше + мы не можем задавать внешнюю геометрию БЭМ блоку, только БЭМ элементу*/
    margin-top: 15px;
}

.secondary-sidebar {
    display: flex;
    flex-direction: column;
}

.secondary-sidebar h2 {
    font-size: 19px;
    font-weight: normal;
}

.items-container {
    display: flex;
    flex-direction: column;
    border-left: 1px solid #CDCDCD;
}

.items-container a {
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 15px;
    font-size: 13px;
}


.footer {
    background: #f9f9fb;
    padding: 2rem 1rem;
}

.footer__container {
    margin: 0 auto;
}

.footer-upper-block {
    display: flex;
    justify-content: space-between;
}

.logo-column {
    display: flex;
    flex-direction: column;
}

.social-icons img {
    margin-top: 32px;
    margin-right: 16px;
}

.mdn-footer-logo {
    margin-top: 3px;
    margin-bottom: 10px;
    height: 17px;
    width: 48px;
}

.footer-middle-block {
    margin-top: 40px;
    margin-bottom: 38px;
    border-top: 1px solid #CDCDCD;
    height: 57px;
    display: flex;
    align-items: end;
}

.mozilla-logo {
    margin-right: 32px;
}

.footer-middle-block .container a { /* Некорректно. Создай класс и используй его  */
    margin-right: 16px;
    font-size: 11px
}

.bottom-footer-block {
    height: 38px;
    display: inline;
}

.bottom-footer-block a, .bottom-footer-block p {
    font-size: 11px;
    margin-bottom: 2px;
}

.image {
    width: 100%;
    height: 100%;
}

.row {
    display: flex;
    gap: var(--row-gap);
}

.row--centered-y {
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}
