html
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: linear-gradient(red, white);
}
form
{
    margin: 40;
}
div,  button
{
    margin: 10px;
}
input
{
    margin: 5px;
}